$cube-size: 40px;
$cube-size-half: $cube-size / 2;
$cube-border-width: 1px;
$cube-size-inner: $cube-size - (2 * $cube-border-width);
$cube-font-size: 120px;

$blue-shades:
  rgb(0, 156, 209),
  rgb(0, 149, 200),
  rgb(0, 52, 70),
  rgb(0, 135, 181),
  rgb(0, 94, 124),
  rgb(0, 82, 110);

$i: 6;
@while $i > 0 {
  .blue-#{$i}, .blue-#{i} .face {
    background: nth($blue-shades, $i);
    border-color: nth($blue-shades, $i);
  }
  $i: $i - 1;
}

rect.cube-side-1 {
  fill: rgb(0,156,209);
}
rect.cube-side-2 {
  fill: rgb(0,52,70);
}
rect.cube-side-3 {
  fill: rgb(0,94,124);
}

.spotlight {
  margin-top: 200px;
  width: 100%;
  text-align: center;
}

.cubes {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  -webkit-transform: rotateX( -35deg ) rotateY(-45deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 6s ease;
  -moz-transition: all 6s ease;
  -o-transition: all 6s ease;
  transition: all 6s ease;
}

.cube {
  width: $cube-size;
  height: $cube-size;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  &:hover {
    .face {
      opacity: 1;
      /*background: red;
      border-color: red;*/
    }
  }
}

.cube-slider {
  position: absolute;
}

.cubes-slot {
  position: absolute;
}

.cube .face {
  display: block;
  position: absolute;
  width: $cube-size-inner;
  height: $cube-size-inner;
  border-style: solid;
  border-width: $cube-border-width;
  line-height: $cube-size-inner;
  font-size: $cube-font-size;
  font-weight: bold;
  color: white;
  text-align: center;
  /*opacity: 0.8;*/
}

/*
.cube .front  { background: $blue-1; border-color: $blue-1; }
.cube .back   { background: $blue-2; border-color: $blue-2; }
.cube .right  { background: $blue-3; border-color: $blue-3; }
.cube .left   { background: $blue-4; border-color: $blue-4; }
.cube .top    { background: $blue-5; border-color: $blue-5; }
.cube .bottom { background: $blue-6; border-color: $blue-6; }
*/
/*
.cube .front  { background: hsla(   0, 100%, 50%, 1.0 ); }
.cube .back   { background: hsla(  60, 100%, 50%, 1.0 ); }
.cube .right  { background: hsla( 120, 100%, 50%, 1.0 ); }
.cube .left   { background: hsla( 180, 100%, 50%, 1.0 ); }
.cube .top    { background: hsla( 240, 100%, 50%, 1.0 ); }
.cube .bottom { background: hsla( 300, 100%, 50%, 1.0 ); }
*/
.cube .front  {
  -webkit-transform: translateZ( $cube-size-half );
}
.cube .back   {
  -webkit-transform: rotateX( -180deg ) translateZ( $cube-size-half );
}
.cube .right {
  -webkit-transform: rotateY(   90deg ) translateZ( $cube-size-half );
}
.cube .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( $cube-size-half );
}
.cube .top {
  -webkit-transform: rotateX(   90deg ) translateZ( $cube-size-half );
}
.cube .bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( $cube-size-half );
}

.cube.show-front {
  -webkit-transform: translateZ( -$cube-size-half );
}
.cube.show-back {
  -webkit-transform: translateZ( -$cube-size-half ) rotateX( -180deg );
}
.cube.show-right {
  -webkit-transform: translateZ( -$cube-size-half ) rotateY(  -90deg );
}
.cube.show-left {
  -webkit-transform: translateZ( -$cube-size-half ) rotateY(   90deg );
}
.cube.show-top {
  -webkit-transform: translateZ( -$cube-size-half ) rotateX(  -90deg );
}
.cube.show-bottom {
  -webkit-transform: translateZ( -$cube-size-half ) rotateX(   90deg );
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
0% {-webkit-transform: rotateX( -35deg ) rotateY(-45deg) rotateZ(0deg);}
25% {-webkit-transform: rotateX( -35deg ) rotateY(-45deg) rotateZ(180deg);}
50% {-webkit-transform: rotateX( 55deg ) rotateY(-135deg) rotateZ(0deg);}
75% {-webkit-transform: rotateX( -35deg ) rotateY(-45deg) rotateZ(0deg);}
100% {-webkit-transform: rotateX( -35deg ) rotateY(-45deg) rotateZ(0deg);}
}
